{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class=" text-center mt-2 ">
        <h1>{{company}} Admin Panel</h1>
    </div>
</div>
<div class="row mt-3"></div>
<div class="col-md-12">
    <table class="table" id="my-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Approve</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.active == false %}
                    <form action="{{ url_for('activate_user', id=user.id) }}" method="POST">
                        <button class="btn btn-primary" type="submit">Activate</button>
                    </form>
                    {% else %} Active {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('delete_company_user', id=user.id) }}" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}