{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class=" text-center mt-2 ">
        <h1>Medi-Cal Settings</h1>
    </div>
</div>
<div class="row mt-3"></div>
<div class="col-md-12">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">Username</label> {{ form.username(id="form_name", type="text", class="form-control", placeholder="Username", required="required") }} </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">Password</label> {{ form.password(id="password", type="text", class="form-control", placeholder="Password", required="required") }} </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">NPI</label> {{ form.npi(id="npi", type="text", class="form-control", placeholder="NPI", required="required") }} </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">Speciality</label> {{ form.speciality(id="speciality", type="text", class="form-control", placeholder="Speciality", required="required") }} </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">Contact Name</label> {{ form.contact_name(id="contact_name", type="text", class="form-control", placeholder="Contact Name", required="required") }} </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"> <label for="form_name">Contact Phone</label> {{ form.contact_phone(id="contact_phone", type="text", class="form-control", placeholder="Contact Phone", required="required") }} </div>
        </div>
        <div class="row mt-3"></div>
        <div class="col-md-1"><button type="submit" class="btn btn-primary btn-send pt-2 btn-block ">Add</button></div>
        <div class="row mt-3"></div>
    </form>
    <table class="table" id="my-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">NPI</th>
                <th scope="col">Speciality</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Phone</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for credential in credentials %}
            <tr>
                <td>{{ credential.username }}</td>
                <td>{{ credential.password }}</td>
                <td>{{ credential.npi }}</td>
                <td>{{ credential.speciality }}</td>
                <td>{{ credential.contactName }}</td>
                <td>{{ credential.contactPhone }}</td>
                <td>
                    <form action="{{ url_for('delete_medical_setting') }}" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}